.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.instruction {
  text-align: center;
  font-size: 1.0em;
  color: #3e0068;
  margin-bottom: 0.5px;
}

.welcomeMessage {
  text-align: center;
  font-size: 1.0em;
  color: #3e0068;
  margin-bottom: 0.5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.country-group {
  margin-bottom: 30px;
  border: 0.5px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  width: 60%;
}

.country-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
  padding-bottom: 10px;
  text-align: center;
}
