.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(172, 47, 47, 0.1);
    padding: 12px;
    margin: 12px auto;
    background-color: #f1e7f7;
    width: 90%;
    max-width: 350px;
    
}
.cardContent {
    display: flex;
    flex-direction: column;
}

.cardTitle {
    font-size: 0.9em;
    text-decoration: underline; 
    color: #4a0086;
    text-align: center;
    margin-bottom: 8px;
}

.urlTitle {
    font-size: 0.65em;
    color: #390869;
    word-wrap: break-word;
    margin-bottom: 6px;
}

a {
    color: #c79bf3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 3px 0;
    color: #555;
    font-size: 0.85em;
}

p strong {
    color: #333;
}
